/Project_WebService/nbproject/private/
/Project_WebService/build/
/Project_WebService/dist/
/Project_Client_TaliscocaA/nbproject/private/
/Project_Server_TaliscocaA/nbproject/private/
/Project_Server_TaliscocaA/build/
